body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

section {
    padding: 2rem;
}

img {
    max-width: 20%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}